<p-organizationChart [value]="data" selectionMode="multiple" [(selection)]="selectedNodes" >
    <ng-template let-node pTemplate="person">
        <div class="p-2 text-center" draggableNodes="true" droppableNodes="true" pDraggable pDroppable (onDrop)="drop(node)" (onDragStart)="dragStart(node)" (onDragEnd)="dragEnd(node)">
            <img [src]="node.data.image" class="mb-3 w-3rem h-3rem" />
            <div class="font-bold">{{ node.data.name }}</div>
            <div>{{ node.data.title }}</div>
        </div>
    </ng-template>
</p-organizationChart>