<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>{{ 'label.SURT02.ProgramName' | translate }}</h5>
            <div class="flex flex-wrap py-4 justify-content-between gap-3 flex-column lg:flex-row lg:p-fluid">
                <textbox [placeholder]="'label.ALL.Search' | translate" icon="pi pi-search" [hasLabel]="false" [(ngModel)]="resetSerch"
                    (onInput)="search($event)" class="w-full lg:w-6">
                </textbox>
                <button icon="pi pi-plus" [label]="'label.ALL.Add' | translate" [routerLink]="['detail']"></button>
            </div>

            <datatable [rows]="menus">
                <ng-template pTemplate="header">
                    <tr>
                        <th prop="menuCode" class="text-center">{{ 'label.SURT02.MenuCode' | translate}} </th>
                        <th prop="menuName" class="text-center">{{ 'label.SURT02.MenuName' | translate }} </th>
                        <th prop="mainMenu" class="text-center">{{ 'label.SURT02.MainMenu' | translate }} </th>
                        <th prop="programCode" class="text-center">{{ 'label.SURT02.ProgramCode' | translate }} </th>
                        <th prop="active" class="text-center">{{ 'label.ALL.Active' | translate }} </th>
                        <th class="text-center">{{ 'label.ALL.Delete' | translate }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                        <td class="text-center">
                            <a [routerLink]="['detail']" [state]="{ menuCode: row.menuCode }">
                                {{row.menuCode}}
                            </a>
                        </td>
                        <td>{{row.menuName}}</td>
                        <td>{{row.mainMenu}}</td>
                        <td>{{row.programCode}}</td>
                        <td class="text-center text-green-600 w-1">
                            @if(row.active){
                            <i class="pi pi-check"></i>
                            }
                        </td>
                        <td class="text-center w-1">
                            <button icon="pi pi-trash" (click)="delete(row.menuCode)"></button>
                        </td>
                    </tr>
                </ng-template>
            </datatable>
        </div>
    </div>
</div>