<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>{{ 'label.ETRT06.ProgramName' | translate }}</h5>
            <div class="flex flex-wrap py-4 justify-content-between gap-3 flex-column lg:flex-row lg:p-fluid">
                <textbox [placeholder]="'label.ALL.Search' | translate" icon="pi pi-search" [hasLabel]="false"
                    (onInput)="search($event)" class="w-full lg:w-6">
                </textbox>
                <button icon="pi pi-plus" [label]="'label.ALL.Add' | translate" [routerLink]="['detail']" ></button>
            </div>

            <datatable [rows]="skillMatrixGroups">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">{{ 'label.ETRT06.GroupName' | translate }} </th>
                        <th class="text-center">{{ 'label.ALL.Active' | translate }}</th>
                        <th class="text-center">{{ 'label.ALL.Delete' | translate }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                        <td class="text-center">
                            <a [routerLink]="['detail']" [state]="{ groupId: row.groupId }">
                                {{row.groupName}}
                            </a>
                        </td>
                        <td class="text-center text-green-600 w-1">
                            @if(row.active){
                            <i class="pi pi-check"></i>
                            }
                        </td>
                        <td class="text-center w-1">
                            <button icon="pi pi-trash" (click)="delete(row.groupName)"></button>
                        </td>
                    </tr>
                </ng-template>
            </datatable>
        </div>
    </div>
</div>