<label class="form-label">
    <ng-content></ng-content><span *ngIf="required" class="text-danger"> *</span>
</label>
<div *ngIf="content | async as image" class="container-wrapper">
    <div *ngIf="!image.path" class="upload-container rounded" appDragDrop [class.disable]="disabled"
        [class.uploading]="uploading" (click)="input.click()" [disableDrag]="disabled" (onFileDropped)="add($event)">
        <i class="fas fa-cloud-upload-alt fa-lg" *ngIf="!uploading"></i>
        <div class="spin" *ngIf="uploading">
            <span class="spinner-border" role="status" aria-hidden="true"></span>
        </div>
    </div>
    <input #input hidden type="file" (change)="add($event)" [disabled]="disabled" accept="image/*">
    <div *ngIf="image.path" class="img-preview" [class.uploading]="uploading" [ngStyle]="{'width.px': width}">
        <div class="spin" *ngIf="image.loading">
            <span class="spinner-border" role="status" aria-hidden="true"></span>
        </div>
        <button *ngIf="!disabled && control && image.id" type="button" class="btn btn-danger btn-sm" (click)="remove()">
            <i class="fas fa-trash-alt"></i></button>
        <img [src]="image.path" class="img-fluid img-thumbnail">
    </div>
</div>
<div class="invalid" *ngFor="let error of errorMessages">
    <span *ngIf="error.param && error.param.max; else message">
        {{ error.message | translate :{ '0': error.param.max } }}
    </span>
    <ng-template #message>
        {{ error.message | translate }}
    </ng-template>
</div>
<div class="invalid" *ngIf="control && hasErrors">
    <div *ngIf="control.hasError('required') ">
        {{'message.STD00000' | translate}}
    </div>
</div>