<div class="grid">
  <div class="col-12">
    <div class="card" style="background-color: rgba(201, 208, 211, 0.16)" >
      <div class="grid">
        <div class="col-4 flex justify-content-start align-items-end">
        <span class="p-buttonset">
          <button class="border-0"  style="background-color: rgb(224,100,78)"  [label]="'label.ETDT01.AssessmentForm' | translate" (click)="next()"></button>
          <button class="border-0" [disabled]="true" style="background-color: rgba(234,198,191)" [label]="'label.ETDT01.SkillForm' | translate" ></button>
        </span></div>
        <div class="col-8 flex justify-content-end align-items-end">
          <dropdown class="mx-1"
          formControlName="status"
          [items]=""
          [disabled]="true"></dropdown>
          <button
            class="mx-0 border-0"
            style="background-color: rgb(15, 177, 246)"
            [label]="'label.ETDT01.SaveAndSend' | translate"
            icon="pi pi-send"
          ></button>
          <button
            class="mx-1 border-0"
            style="background-color: rgb(63, 164, 132)"
            [label]="'label.ALL.Save' | translate"
            icon="pi pi-save"
          ></button>
          <button
            class="border-0"
            style="background-color: rgb(220, 100, 80)"
            [label]="'label.ALL.Cancel' | translate"
            icon="pi pi-times"
            (click)="cancel()"
          ></button>
        </div>
      </div>
      <br>
              <div class="card">
                <p>Flowchart</p>
                <hr>
                <h1>1.Flowchart</h1>
                <div class="">
                <!-- <p-radioButton [label]="'Grade A. Can design flow chart of the programs that they are responsible.' | translate"></p-radioButton><br><br>
                <p-radioButton [label]="'Grade B. Can explain How to use flowchart in real life and Can give an example.' | translate"></p-radioButton><br><br>
                <p-radioButton [label]="'Grade C. Understand flowchart symbol concept' | translate"></p-radioButton><br><br>
                <p-radioButton [label]="'Grade D. Can design flow chart of the programs that they are responsible.' | translate"></p-radioButton> -->
              </div>
      </div>
  </div>
</div>
