.card {
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #BCBEC3;
}
.flex-direction p-radioButton {
  margin-bottom: 15px;
  margin-top: 15px;
}

.matrix-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.matrix-style{
  border-top-width: 50px;
  border-color: #E0644E;
  position: relative;
  margin-bottom: 21px;
}

