<div class="grid">
    <div class="col-12 flex flex-wrap gap-3 justify-content-between flex-column lg:flex-row lg:p-fluid">
        <breadcrumb [items]="breadcrumbItems"></breadcrumb>
        <button [label]="'label.ALL.Save' | translate" icon="pi pi-save" (click)="save()"></button>
    </div>
    <div class="col-12">
        <p-fieldset [legend]="'label.SURT03.Detail' | translate" [toggleable]="true">
            <div class="grid p-fluid" [formGroup]="form">
                <div class="col-12 lg:col-3">
                    <textbox formControlName="profileCode">
                        {{ 'label.SURT03.ProfileCode' | translate }}
                    </textbox>
                </div>
                <div class="col-12 lg:col-3">
                    <textbox formControlName="description">
                        {{ 'label.SURT03.Description' | translate }}
                    </textbox>
                </div>
                <div class="flex flex-wrap align-items-end col-12 lg:col-3">
                    <checkbox formControlName="active" [label]="'label.ALL.Active' | translate">
                    </checkbox>
                </div>
            </div>
        </p-fieldset>
    </div>

    <div class="col-12">
        <p-fieldset [legend]="'label.SURT03.Menu' | translate" [toggleable]="true">
            <p-pickList [source]="master.menus" [target]="profile.profileMenus"
                [sourceHeader]="'label.SURT03.Menu' | translate" [targetHeader]="'label.SURT03.ProfileMenu' | translate"
                [sourceStyle]="{ height: '20rem' }" [targetStyle]="{ height: '20rem' }" [dragdrop]="true"
                [responsive]="true" filterBy="menuName" [showSourceControls]="false" [showTargetControls]="false">
                <ng-template let-menu pTemplate="item">
                    <span>
                        <i [class]="menu.icon"></i>&nbsp;&nbsp;{{ menu.menuName}}
                    </span>
                </ng-template>
            </p-pickList>
        </p-fieldset>
    </div>
</div>