<div class="grid">
  <div class="col-12">
      <div class="card">
          <breadcrumb [items]="breadcrumbItems"></breadcrumb>
          <div class="grid"[formGroup]="provinceForm">
            <div class="col-3">
              <dropdown class="w-full" formControlName="province" [items]="master.province" [disabled]="true"></dropdown>
            </div>
            <div class="col-3">
              <dropdown class="w-full" formControlName="district" [items]="master.district" [disabled]="true"></dropdown>
            </div>
            <div class="col-3 flex align-items-end ">
              <textbox  class="w-full" [placeholder]="'label.ALL.Search' | translate" icon="pi pi-search" [hasLabel]="false" [(ngModel)]="resetSearch"
                  (onInput)="search($event)">
              </textbox>
            </div>
            <div class="col-3 flex justify-content-end align-items-end ">
              <button icon="pi pi-plus" [label]="'label.ALL.Add' | translate" [routerLink]="['subdistricts-detail']" [state]="{districtCode : districtCode , provinceCode: provinceCode}"></button>
            </div>
          </div>

          <datatable [rows]="Subdistricts">
              <ng-template pTemplate="header">
                  <tr>
                      <th prop="subdistrictTh" class="text-center">{{ 'label.DBRT04.SubdistrictNameInThai' | translate }} </th>
                      <th prop="subdistrictEn" class="text-center">{{ 'label.DBRT04.SubdistrictNameInEnglish' | translate }} </th>
                      <th prop="postalCode" class="text-center">{{'label.DBRT04.PostalCode' | translate }} </th>
                      <th prop="active" class="text-center">{{ 'label.DBRT04.Active' | translate }} </th>
                      <th class="text-center">{{ 'label.ALL.Delete' | translate }}</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-row>
                  <tr>
                    <td class="text-center">
                    <a [routerLink]="['subdistricts-detail']" [state]="{ districtCode: row.districtCode , provinceCode: row.provinceCode, subdistrictCode: row.subdistrictCode}">
                      {{row.subdistrictTh}}
                    </a>
                    </td>
                      <td>{{row.subdistrictEn}}</td>
                      <td class="text-center">{{row.postalCode}}</td>
                      <td class="text-center text-green-600 w-1">
                        @if(row.active){
                        <i class="pi pi-check"></i>
                        }</td>
                      <td class="text-center w-1">
                            <button icon="pi pi-trash" (click)="deleteSubdistrict(row.subdistrictCode)"></button>
                      </td>
                  </tr>
              </ng-template>
          </datatable>
      </div>
  </div>
