<div class="col-12">
    <div class="card">
        <h5>{{ 'label.ETDT02.Document' | translate }}</h5>
        <div class="grid p-fluid">
            <div class="col-12 lg:col-6">
                <div class="card flex flex-column align-items-center">
                    <h5 class="text-left w-full"[routerLink]="'etdt02-document'"[state]="{assessment: 'AssessmentNo1'}">{{ 'label.ETDT02.AssessmentNo.1' | translate }}</h5>
                    <p-chart type="doughnut" [data]="pieData1" [options]="pieOptions1"></p-chart>
                </div>
            </div>
            <div class="col-12 lg:col-6">
                    <div class="card flex flex-column align-items-center">
                    <h5 class="text-left w-full"[routerLink]="'etdt02-document'"[state]="{assessment: 'AssessmentNo2'}">{{ 'label.ETDT02.AssessmentNo.2' | translate }}</h5>
                    <p-chart type="doughnut" [data]="pieData2" [options]="pieOptions2"></p-chart>
                </div>
            </div>
            <ng-template pTemplate="body" let-row>
                <tr>
                  <td class="text-center">
                    <a [routerLink]="'etdt02-document'" [state]="{ createdDate: row.createdDate }">
                        {{row.createdDate}}
                    </a>
                  </td>
                </tr>
            </ng-template>
        </div>
    </div>
</div>
