<div class="grid">
  <div class="col-12">
      <div class="card">
        <div class="flex flex-wrap py-4 justify-content-between flex-column lg:flex-row lg:p-fluid">
          <h1>{{'label.ETDT01.ProgramName' | translate }}</h1>
          <button icon="pi pi-file" [label]="'label.ETDT01.createform' | translate" (click)="createform()"></button>
        </div>
          <datatable [rows]="DocumentApproveds">
              <ng-template pTemplate="header">
                  <tr>
                      <th class="text-center">{{ 'label.ETDT01.CreatedDate' | translate }} </th>
                      <th class="text-center">{{ 'label.ETDT01.EmployeeCode' | translate }} </th>
                      <th class="text-center">{{ 'label.ETDT01.EmployeeName' | translate }} </th>
                      <th class="text-center">{{ 'label.ETDT01.Status' | translate }}</th>
                      <th class="text-center">{{ 'label.ETDT01.ApprovedBy' | translate }}</th>
                      <th class="text-center">{{ 'label.ALL.Delete' | translate }}</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-row>
                  <tr>
                    <td class="text-center">
                    <a (click)="createform(row.documentNo)">
                      {{row.createdDate}}
                    </a>
                    </td>
                      <td class="text-center">{{row.employeeCode}}</td>
                      <td class="text-center">{{row.employeeName}}</td>
                      <td class="text-center">{{row.status}}</td>
                      <td class="text-center">{{row.approveBy}}</td>
                      <td class="text-center w-1">
                        <button icon="pi pi-trash" (click)="delete(row.documentNo)"></button>
                      </td>
                  </tr>
              </ng-template>
          </datatable>
      </div>
  </div>
</div>
