<div class="grid">
  <div class="col-12">
      <div class="card">
        <div class="flex flex-wrap py-4 justify-content-between flex-column lg:flex-row lg:p-fluid">
          <h1>{{'label.ETDT01.ProgramName' | translate }}</h1>
          <button icon="pi pi-file" [label]="'label.ETDT01.createform' | translate" (click)="createform()"></button>
        </div>
          <datatable [rows]="">
              <ng-template pTemplate="header">
                  <tr>
                      <th class="text-center">{{ 'label.ETDT01.DbNumber' | translate}} </th>
                      <th class="text-center">{{ 'label.ETDT01.CreatedDate' | translate }} </th>
                      <th class="text-center">{{ 'label.ETDT01.EmployeeCode' | translate }} </th>
                      <th class="text-center">{{ 'label.ETDT01.EmployeeName' | translate }} </th>
                      <th class="text-center">{{ 'label.ETDT01.Status' | translate }}</th>
                      <th class="text-center">{{ 'label.ETDT01.ApproveBy' | translate }}</th>
                      <th class="text-center">{{ 'label.ALL.Delete' | translate }}</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-row>
                  <tr>
                    <td class="text-center">
                    <a [routerLink]="['detail']" [state]="{ DbNumber: row.DbNumber }">
                      {{row.DbNumber}}
                    </a>
                    </td>
                      <td class="text-center">{{row.DbNumber}}</td>
                      <td class="text-center">{{row.CreatedDate}}</td>
                      <td class="text-center">{{row.EmployeeCode}}</td>
                      <td class="text-center">{{row.EmployeeName}}</td>
                      <td class="text-center">{{row.Status}}</td>
                      <td class="text-center">{{row.ApproveBy}}</td>
                      <!-- <td class="text-center w-1">
                            <button icon="pi pi-trash" (click)="delete(row.employeeCode)"></button>
                      </td> -->
                  </tr>
              </ng-template>
          </datatable>
      </div>
  </div>
</div>
