.grid {
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  width: 100%;
}

.card {
  box-sizing: border-box;
  // margin-left: 10px;
  // margin-right: 10px;
}

@media screen and (max-width: 375px) {
  .flex-column {
    flex-direction: column;
  }

  .flex-row {
    flex-direction: row;
  }

  .justify-content-between {
    justify-content: space-between;
  }

  .justify-content-start {
    justify-content: flex-start;
  }

  .justify-content-end {
    justify-content: flex-end;
  }

  .grid {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .col-6 {
    width: 100%;
  }

  .w-full {
    width: 100%;
  }

  .mx-1 {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .card p {
    font-size: auto;
  }
}
