<div class="grid">
  <div class="col-12">
    <div class="card" style="border: none; background-color: rgba(201, 208, 211, 0.16)" >
      <div class="col-12">
      <div class="grid flex justify-content-between flex-column lg:flex-row lg:p-fluid">
        <div class="flex justify-content-start ">
          <span class="p-buttonset">
            <button class="border-0" [disabled]="true" style="background-color: rgba(234,198,191)" [label]="'label.ETDT01.AssessmentForm' | translate" ></button>
            <button class="border-0" style="background-color: rgb(224,100,78)" [label]="'label.ETDT01.SkillForm' | translate" (click)="next()"></button>
          </span>
        </div>

          <div class="flex justify-content-end" [formGroup]="form">
            <dropdown class="mx-1"
            formControlName="statusName"
            [items]="status"
            [disabled]="true"
            ></dropdown>
            <button
              class="border-0"
              style="background-color: rgb(15, 177, 246)"
              [label]="'label.ETDT01.SaveAndSend' | translate"
              icon="pi pi-send"
            ></button>
            <button
              class="mx-1 border-0"
              style="background-color: rgb(63, 164, 132)"
              [label]="'label.ALL.Save' | translate"
              icon="pi pi-save"
              (click)="save()"
            ></button>
            <button
              class="border-0"
              style="background-color: rgb(220, 100, 80)"
              [label]="'label.ALL.Cancel' | translate"
              icon="pi pi-times"
              (click)="cancel()"
            ></button>
          </div>
        </div>
      </div>
      <br>

      <div class="flex justify-content-between flex-column lg:flex-row lg:p-fluid" [formGroup]="form">
        <div class="card w-full">
          <div class="flex col-12">
            <img
              src="../../../../assets/layout/images/usur.png"
              width="200"
              height="200"
            >
            <div class="ml-5 mt-4" style="font-size: 18px; ">
              <p>
                {{ "label.ETDT01.employeeCode" | translate }} :
                {{ this.data.employeeCode }}
              </p>
              <p>
                {{ "label.ETDT01.name" | translate }} :
                {{ this.data.firstname }}
                {{ this.data.surname }}
              </p>
              <p>
                {{ "label.ETDT01.position" | translate }} :
                {{ this.data.position }}
              </p>
              <p>
                {{ "label.ETDT01.email" | translate }} :
                {{ this.data.email }}
              </p>
              <div class="flex">
              <p class="mr-4">
                {{ 'label.ETDT01.Startdate' | translate }}
                <calendar formControlName="dateFrom" [floatLabel]="true" (ngModelChange)="search()"></calendar>
                </p>
              <p>
                {{ 'label.ETDT01.Duedate' | translate }}
                <calendar formControlName="dateTo" [floatLabel]="true" (ngModelChange)="search()"></calendar>
              </p>
              </div>
            </div>
          </div>
        </div>

        <table class="card mb-5 ml-2" style="text-align: center;">
          <tr class="col-6">
            <td style="vertical-align: center;">
              <div style="text-align: center;">
                <h1>SUMMARY</h1>
                <h1 style="font-size: 100px;">{{totalPoint}}</h1>
              </div>
            </td>
            <td class="col-6">
              <div class="card" [ngStyle]="{ 'background-color': grade.color, 'text-align': 'center',
               'padding-top': '1px', 'padding-bottom': '1px', 'padding-right': '50px', 'padding-left': '50px'}">
                <h1 style="font-size: 100px;">{{ grade.grade }}</h1>
              </div>
            </td>
            <i class="pi pi-question-circle flex justify-content-end"
            pTooltip="Grade
            90 - 100  = A
            80 - 89   = B
            60 - 79   = C
            50 - 59   = D
             0  - 49  = F
            "tooltipPosition="top"></i>
          </tr>
        </table>
      </div>

      <div class="card" *ngFor="let item of listAssessment ">
        <div style="display: flex; justify-content: space-between; align-items: flex-end; width: 100%;">
        <h1 style="margin: 0;">{{item.evaluateGroupName}}</h1>
          <number [minFractionDigits]="0" [maxFractionDigits]="2"  [disabled]="true" [value]="item.totalPoints">Full score : {{item.totalPoint}}</number>
        </div>
        <hr>

        <div *ngFor="let itemDetail of item.listDetail; let i = index" [formGroup]="itemDetail.form">
          <div class="flex" *ngIf="item.evaluateGroupCode == itemDetail.evaluateGroupCode">
            <div style="display: flex; justify-content: space-between; align-items: flex-end; width: 100%;">
            <p style="font-size: 18px; margin-right: 10px;">{{itemDetail.evaluateDetailName}}</p>
            <number [min]="0" [max]="itemDetail.point" [minFractionDigits]="0" [maxFractionDigits]="2" style=" margin: 20px; "[floatLabel]="true"
            [formControlName]="'point'+i" (ngModelChange)="getTotalWork(item.evaluateGroupCode , i)">Full score : {{itemDetail.point}}</number>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
