<div class="grid">
    <div class="col-12 flex flex-wrap gap-3 justify-content-between flex-column lg:flex-row lg:p-fluid">
        <breadcrumb [items]="breadcrumbItems"></breadcrumb>
        <button [label]="'label.ALL.Save' | translate" icon="pi pi-save" (click)="save()"></button>
    </div>
    <div class="col-12">
        <p-fieldset [legend]="'label.SURT02.Detail' | translate" [toggleable]="true">
            <div class="grid p-fluid" [formGroup]="form">
                <div class="col-12 lg:col-3">
                    <textbox formControlName="menuCode">{{ 'label.SURT02.MenuCode' | translate}}</textbox>
                </div>
                <div class="col-12 lg:col-3">
                    <dropdown formControlName="mainMenu" [items]="master.mainMenu">
                        {{ 'label.SURT02.MainMenu' | translate }}
                    </dropdown>
                </div>
                <div class="col-12 lg:col-3">
                    <dropdown formControlName="programCode" [items]="master.programCode">
                        {{ 'label.SURT02.ProgramCode' | translate }}
                    </dropdown>
                </div>
                <div class="col-12 lg:col-3">
                    <textbox formControlName="icon">
                        {{ 'label.ALL.Icon' | translate }}
                    </textbox>
                </div>
                <div class="col-12 lg:col-3">
                    <textbox formControlName="menuNameTH">
                        {{ 'label.SURT02.MenuNameTH' | translate }}
                    </textbox>
                </div>
                <div class="col-12 lg:col-3">
                    <textbox formControlName="menuNameEN">
                        {{ 'label.SURT02.MenuNameEN' | translate }}
                    </textbox>
                </div>
                <div class="flex flex-wrap align-items-end col-12 lg:col-3">
                    <checkbox formControlName="active" [label]="'label.ALL.Active' | translate">
                    </checkbox>
                </div>
            </div>
        </p-fieldset>
    </div>
</div>